<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    {{ content | markdownify }}
    <hr/>
    <footer>
      本网站内容采用<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">知识共享署名-非商业性使用-相同方式共享</a>授权。
    </footer>
  </body>
</html>
